@{
    ViewBag.Title = "Home Page";
}



   




@using Gallery.Controllers
@{
    // Directory path with all User's directories
    string ImagesDirPath = Server.MapPath("~/Content/Images");

    // Encrypted User's directory path
    string DirPath = Server.MapPath("~/Content/Images/") + HomeController.ComputeSha256Hash(User.Identity.Name);

    // Directory path with temp files
    string TempDirPath = Server.MapPath("~/Content/Temp");

    if (!Directory.Exists(ImagesDirPath))
    {
        Directory.CreateDirectory(ImagesDirPath);
    }

    if (!Directory.Exists(TempDirPath))
    {
        Directory.CreateDirectory(TempDirPath);
    }

    if (!Directory.Exists(DirPath) && User.Identity.Name != "")
    {
        Directory.CreateDirectory(DirPath);
    }

    List<string> dirsname = Directory.GetDirectories(Server.MapPath("~/Content/Images/")).ToList<string>();
    List<string> filesname;
    int i = 0;
            
            //The Modal

        <div id="myModal" class="modal">
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
        <script>
             // Get the modal
            var modal = document.getElementById('myModal');
                    // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("modal")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }
        </script>
    foreach (string dir in dirsname)
    {
        filesname = Directory.GetFiles(dir).ToList<string>();

        foreach (string fl in filesname)
        {
            i++;
            HomeController.LoadExifData(fl);
<div class="body">
    <div class="bodyT">

        <p class="textT">
            <b>Photo title: @HomeController.title</b>
        </p>
        <p class="textT">
            <b>Manufacturer of the camera: @HomeController.manufacturer</b>
        </p>
        <p class="textT">
            <b>Model of the camera: @HomeController.modelOfCamera</b>
        </p>
        <p class="textT">
            <b>File size: @HomeController.fileSize</b>
        </p>
        <p class="textT">
            <b>Date of creation of the photo: @HomeController.dateCreation</b>
        </p>
        <p class="textT">
            <b>Date of uploading of the photo: @HomeController.dateUpload</b>
        </p>
    </div>

    <div class="hov">
        <a class="picture">
            <img id="@i" class="pictureIMG" src="~/Content/Images/@dir.Replace(Server.MapPath("~/Content/Images/"), "").Replace('\\', '/')/@Path.GetFileName(fl)" alt="@Path.GetFileName(fl)">
        </a>
        <ul class="pictureDownload">
            <a href="~/Content/Images/@dir.Replace(Server.MapPath("~/Content/Images/"), "").Replace('\\', '/')/@Path.GetFileName(fl)" download>
                <i class="fa fa-download" style="color:green; text-shadow: 2px 2px 3px #000" aria-hidden="true"></i>
            </a>
        </ul>
            @using (Html.BeginForm("Delete", "Home", FormMethod.Get, new { enctype = "string" }))
            {  
                <input type="text" name="T" value="~/Content/Images/@dir.Replace(Server.MapPath("~/Content/Images/"), "").Replace('\\', '/')/@Path.GetFileName(fl)" hidden />

                if (dir.Replace(Server.MapPath("~/Content/Images/"), "") == HomeController.ComputeSha256Hash(User.Identity.Name))
                {
                    <button type="submit" class="pictureDelete" aria-label="Delete">

                        <i class="fa fa-trash" style="color:darkred; text-shadow: 2px 2px 3px #000" aria-hidden="true"></i>

                    </button>
                }
            }

        </div>








    <script>
            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById("@i");
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }
    </script>
    
                        

</div>
        }
    }
}
